.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

.search-form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

#str-search {
  min-width: 500px;
}

#user-view {
  border: 1px solid grey;
  margin: 5px;
  flex-grow: 3;
  flex-basis: 30%;
  padding-left: 10px;
}

#user-statistics {
  border: 1px solid grey;
  margin: 5px;
  background: rgb(226, 213, 213);
  flex-grow: 2;
  flex-basis: 30%;
  padding-left: 10px;
}

#profile {
  border-radius:  50%;
}

#summary {
  font-weight: 400;
  font-size: 2em;
}

.history {
  display: flex;
  justify-content: flex-start;
}

.found {
  align-self: flex-start;
}